@font-face {
    font-family: 'PoetsenOne-Regular';
    src: url('fonts/PoetsenOne-Regular.ttf');
}

html {
    overflow-y: scroll;
    
}

html,
body {
    margin: 0;
    background: rgb(1, 150, 177);
}


/*  en-tete */

#LogoMkT {
    left: 10vw;
    position: fixed;
    bottom: 44.5vw;
    z-index: 11;
    height: 4.55vw;
    width: 4.55;
    
   
}

    


nav {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 5vw;
    background: white;
    z-index: 10;
    width:100vw;
}

nav ul {
    display: flex;
    list-style-type: none;
}

nav li {
    margin-left: 2vw;
}

nav a {
    font-size: 1.8vw;
    color: black;
    font-family: 'PoetsenOne-Regular';
    text-decoration: none;
    text-shadow: 0.2vw 0.2vw 0.8vw black;
    text-align: center;
}

nav a:active {
    text-shadow: none;
}

#bouton {
    position: fixed;
    right: 2vw;
    top: 1vw;
    display: inline-block;
    border: none;
    color: white;
    padding: 0.5vw 1vw;
    text-align: center;
    text-decoration: none;
    font-size: 1vw;
    font-family: 'PoetsenOne-Regular';
    cursor: pointer;
    background: rgb(1, 150, 177);
    box-shadow: none;
    z-index: 11;
}

#bouton:hover {
    box-shadow: 4px 4px 10px black;
}

#bouton:active {
    box-shadow: none;
}

#dropdown {
    position: fixed;
    right: 2vw;
    top: 1vw;
    z-index: 11;
}

#dropdown #bouton1 {
    border: none;
    color: white;
    padding: 0.5vw 1vw;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1vw;
    font-family: 'PoetsenOne-Regular';
    cursor: pointer;
    background: rgb(1, 150, 177);
    box-shadow: none;
    height: 100%;
    width: 100%;
}

#dropdown:hover {
    box-shadow: 4px 0px 10px black;
}

#dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    right: 0;
}

#dropdown:hover #dropdown-content {
    display: block;
    min-width: 100%;
    font-family: 'PoetsenOne-Regular';
    text-align: center;
}

#dropdown-content #dp1 {
    display: block;
    padding: 5px;
    border: solid 1px black;
    text-decoration: none;
    color: black;
    box-shadow: 4px 0px 10px black;
}

#dropdown-content form {
    display: block;
}

#dp2 {
    border: solid 1px black;
    box-shadow: 4px 1px 10px black;
    background: white;
    height: 100%;
    width: 100%;
    text-decoration: none;
    color: black;
    font-family: 'PoetsenOne-Regular';
    cursor: pointer;
    padding: 5px;
    font-size: 100%;
}

#dropdown-content #dp1:hover {
    box-shadow: none;
    background-color: rgb(210, 210, 210);
}

#dp2:hover {
    box-shadow: none;
    background-color: rgb(210, 210, 210);
}


/*  index.html */

#conteneur2 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#conteneur2 a {
    margin-top: 70px;
}


/*  pied de page */

#bandefooter {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    height: 5vw;
    background: white;
    z-index: 10;
}

#bandefooter p {
    font-size: 1.8vw;
    color: black;
    font-family: 'PoetsenOne-Regular';
    text-decoration: none;
    text-shadow: 4px 4px 10px black;
}

#jinx1 img {
    position: fixed;
    bottom: 9%;
    left: 0;
    z-index: 11;
}

#jinx2 img {
    position: fixed;
    top: 91%;
    left: 0;
    z-index: 11;
}


/* formulaire */

#inscription {
    margin-top: 13%;
    text-align: center;
    font-family: 'PoetsenOne-Regular';
}

#submitform {
    font-family: 'PoetsenOne-Regular';
    background: white;
    border: none;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    cursor: pointer;
    color: rgb(1, 150, 177);
}

#submitform:hover {
    box-shadow: 4px 4px 10px black;
}

#submitform:active {
    box-shadow: none;
}

form .remplir {
    color: red;
    font-size: 1.4em;
    text-shadow: 4px 4px 10px black;
}

form #pseudo {
    font-size: 1.1em;
    color: red;
    text-shadow: 4px 4px 10px black;
}


/* page de connection*/

#pageconnection {
    display: flex;
    justify-content: center;
    font-family: 'PoetsenOne-Regular';
    font-size: 1.7em;
    margin-top: 18%;
    align-items: center;
}

#block1 {
    text-align: center;
    border: 3px solid white;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    box-shadow: 4px 4px 10px black;
}

#connexionform {
    font-family: 'PoetsenOne-Regular';
    background: white;
    border: none;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    cursor: pointer;
    color: rgb(1, 150, 177);
}

#connexionform:hover {
    box-shadow: 4px 4px 10px black;
}

#connexionform:active {
    box-shadow: none;
}

#block2 {
    margin-left: 100px;
    text-align: center;
    border: 3px solid white;
    padding-left: 30px;
    padding-top: 75px;
    padding-bottom: 75px;
    padding-right: 30px;
    box-shadow: 4px 4px 10px black;
}

#pageconnection button {
    border: none;
    color: rgb(1, 150, 177);
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    font-family: 'PoetsenOne-Regular';
    cursor: pointer;
    background: white;
    box-shadow: none;
}

#pageconnection button:hover {
    box-shadow: 4px 4px 10px black;
}

#pageconnection button:active {
    box-shadow: none;
}


/* page vidéo*/

#video {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 5%;
    margin-bottom: 10%;
}

#video div {
    margin-top: 100px;
    font-family: 'PoetsenOne-Regular';
    font-size: 1.6em;
}

#video iframe {
    box-shadow: 6px 6px 12px black;
}

#video p {
    text-align: center;
    color: white;
    text-shadow: 4px 4px 10px black;
}


/* bienvenue*/

#bienvenue {
    font-family: 'PoetsenOne-Regular';
    font-size: 2em;
    text-align: center;
    margin-top: 20%;
    color: white;
    text-shadow: 4px 4px 10px black;
}


/*page de deconnexion*/

#deconnexionsuccess {
    font-family: 'PoetsenOne-Regular';
    font-size: 2em;
    text-align: center;
    margin-top: 20%;
    color: white;
    text-shadow: 4px 4px 10px black;
}


/*chat*/



#openclose {
    position: fixed;
    right: 1vw;
    bottom: 2vw;
    z-index: 1;
    background: rgb(1, 150, 177);
    border: none;
    margin: 0;
    color: white;
    font-family: 'PoetsenOne-Regular';
    padding: 0.4vw 0.8vw;
    z-index: 11;
    font-size:0.8vw;
    cursor: pointer;
}

#openclose:hover {
    box-shadow: 4px 4px 10px black;
}

#openclose:active {
    box-shadow: none;
}

#lechat {
    position: fixed;
    right: 0;
    bottom: 10%;
    height: 50%;
    width: 20%;
    display: flex;
    flex-direction: column;
    box-shadow: -4px -4px 10px black;
    z-index: 11;
}

#inputchat {
    display: flex;
    width: 100%;
    height: 15%;
}

#txtArea {
    width: 85%;
    height: auto;
    resize: none;
}

#envoimessage {
    width: 20%;
    height: auto;
    background: white;
    font-family: 'PoetsenOne-Regular';
}

#refresh {
    margin-left: 3px;
    background: white;
    display: flex;
    flex-direction: column-reverse;
    padding-bottom: 10px;
}

#messagechat {
    background: white;
    height: 85%;
    overflow-y: scroll;
}

#messagechat strong {
    font-family: 'PoetsenOne-Regular';
    color: rgb(1, 150, 177);
}

#messagechat div {
    margin-bottom: 3px;
}


/*deja connecter */

#dejaconnecter {
    font-family: 'PoetsenOne-Regular';
    font-size: 2em;
    text-align: center;
    margin-top: 20%;
    color: white;
    text-shadow: 4px 4px 10px black;
}


/*espacemembre*/

#blockactu{
    display:flex;
    flex-direction: column;
    position:fixed;
    bottom:5.5vw;
    top:5.5vw;
    left:31vw;
    border: 0.1vw solid black;
    height:38.3vw;
    z-index: 1;
    box-shadow: 0vw 0vw 10vw black;
    justify-content: center;
    background: rgb(230,230,230);
    width:38vw;
    
    
    background:white;
    
    
    
    
}


#inputcontent{
    
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 38vw;
    height: 6vw;
    justify-content:center;
    background: white;
   
   
    
    
    
}

#txtrea{
    width:25vw;
    height: 3vw;
    resize: none;
    margin-right: 0.5vw;
    border: 0.15vw solid rgb(1, 150, 177);
    background:rgb(230,230,230);
}

#inputcontent #sendbox{
    display:flex;
    flex-direction: column;
    width: 5vw;
    height: 3vw;
    justify-content: space-between;
    

}
#inputcontent  button{
    
    width: 5vw;
    height: 1.25vw;
    background: white;
    font-family: 'PoetsenOne-Regular';
    font-size: 0.8vw;
    border:0.15vw solid rgb(1, 150, 177);
    color:rgb(1, 150, 177);
    margin-left: 0.5vw;
    
    
}
#inputcontent div button:hover{
    border:none;
    background:rgb(1, 150, 177) ; 
    color:white;
    cursor: pointer;
    
}


#filactu{
    width:31vw;
    height: 31vw;
    background:rgb(230,230,230);
    margin-top: 1vw;
    margin-left:3.6vw;
    display: flex;
    flex-direction: column;
   
    overflow-y: scroll;
    scroll-behavior:smooth;
     border: 0.15vw solid rgb(1, 150, 177);
    
}

.postfilactu{
  
    text-align: center;
    margin:1vw;
    background: rgb(240,240,240);
    padding-bottom: 1vw;
    border: 0.11vw solid black;
        
    
 
    
}


.postfilactu strong{
    font-family: 'PoetsenOne-Regular';
    color: rgb(1, 150, 177);
    
    
    
    
    
}

.postfilactu img {
    width:27vw;
    margin: auto;
   
}
.postfilactu video {
    width:27vw;
    margin:auto;
    
    
}

.postfilactu audio {
    width:27vw;
    margin:auto;
    
}
.likecomment{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    
   
}
.likecomment button{
    margin-left: 1vw;
    
    color: white;
    text-decoration: none;
    font-size: 0.7vw;
    cursor: pointer;
    background: rgb(1, 150, 177);
    box-shadow: none;
    font-family: 'PoetsenOne-Regular';
    padding: 0.2vw 0.4vw;
    border:0.1vw solid rgb(1, 150, 177);
    
}

.likecomment span{
    margin-left: 1vw;
    font-size: 0.7vw;
    font-family: 'PoetsenOne-Regular';
    
    
}

.likecomment button:hover{
    background: white;
    border:0.1vw solid rgb(1, 150, 177);
    color:rgb(1, 150, 177);
    
}

.modifsupp{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.modifsupp button{
    color: white;
    text-decoration: none;
    font-size: 0.7vw;
    cursor: pointer;
    background: rgb(1, 150, 177);
    box-shadow: none;
    font-family: 'PoetsenOne-Regular';
    padding: 0.2vw 0.4vw;
    border:0.1vw solid rgb(1, 150, 177);
}

.modifsupp button:hover{
    background: white;
    border:0.1vw solid rgb(1, 150, 177);
    color:rgb(1, 150, 177);
}